<nav class="navbar" role="navigation" aria-label="main navigation">
 

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    
      
      <%= link_to "articles", articles_path, class:'navbar-item' %>
      
 <%= link_to "Create Article", new_article_path, class:'navbar-item' %>
     
    </div>

   
  </div>
</nav>
